[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "== 5.4"
"beautifulsoup4" = "*"
pillow = "*"
kivy = "*"
easygui = "*"
"pywin32" = "*"
kivy-deps-glew = "*"
"kivy-deps-sdl2" = "*"
kivy-deps-angle = "*"
humanize = "*"
"pygit2" = "*"
pygithub = "*"

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.7"
